<?xml version="1.0" encoding="UTF-8" ?>
<!-- Reference Manual http://logback.qos.ch/manual/index.html -->
<configuration scan="true" scanPeriod="60 seconds"
               xmlns="http://logback.qos.ch/schema/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logback.qos.ch/schema/logback http://logback.qos.ch/schema/logback.xsd">
    <property name="LOG_PATH" value="/web/tomcat/logs/spring.study.wentjiang.com"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss SSS,Asia/Chongqing} [%thread]) %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>
	<appender name="All_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/all.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-26(%d{HH:mm:ss SSS,Asia/Chongqing} [%thread]) %-5level %logger{32} - %msg%n</pattern>
        </encoder>
	</appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="All_LOG"/>
    </root>
</configuration>
